In [2]:
from bs4 import BeautifulSoup

In [3]:
import requests
import csv
import pandas as pd
import numpy as np
from numpy.random import randn
import lxml.html as lh

In [4]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
doc = lh.fromstring(source.content)
tr_elements = doc.xpath('//tr')

In [5]:
[len(T) for T in tr_elements[:10]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [6]:
#create empth list
col = []
i = 0

In [7]:
#for each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name,[]))

1 Postcode
2 Borough
3 Neighbourhood

In [8]:
for j in range(1,len(tr_elements)):
    T = tr_elements[j]
    
    if len(T)!=3:
        break
    
    i = 0
    for t in T.iterchildren():
        data=t.text_content()
        if i >0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [9]:
[len(C) for (title,C) in col]

[289, 289, 289]

In [10]:
Dict = {title:column for (title,column) in col}
df = pd.DataFrame(Dict)

In [11]:
df.head()

            Borough     Neighbourhood\n Postcode
0      Not assigned      Not assigned\n      M1A
1      Not assigned      Not assigned\n      M2A
2        North York         Parkwoods\n      M3A
3        North York  Victoria Village\n      M4A
4  Downtown Toronto      Harbourfront\n      M5A

In [12]:
df['PostalCode']=df['Postcode']

In [13]:
df.head()

            Borough     Neighbourhood\n Postcode PostalCode
0      Not assigned      Not assigned\n      M1A        M1A
1      Not assigned      Not assigned\n      M2A        M2A
2        North York         Parkwoods\n      M3A        M3A
3        North York  Victoria Village\n      M4A        M4A
4  Downtown Toronto      Harbourfront\n      M5A        M5A

In [14]:
df.drop('Postcode',axis=1,inplace=True)

In [15]:
df.head()

            Borough     Neighbourhood\n PostalCode
0      Not assigned      Not assigned\n        M1A
1      Not assigned      Not assigned\n        M2A
2        North York         Parkwoods\n        M3A
3        North York  Victoria Village\n        M4A
4  Downtown Toronto      Harbourfront\n        M5A

In [16]:
df['Neighbourhood'] = df['Neighbourhood\n']

In [17]:
df.head()

            Borough     Neighbourhood\n PostalCode       Neighbourhood
0      Not assigned      Not assigned\n        M1A      Not assigned\n
1      Not assigned      Not assigned\n        M2A      Not assigned\n
2        North York         Parkwoods\n        M3A         Parkwoods\n
3        North York  Victoria Village\n        M4A  Victoria Village\n
4  Downtown Toronto      Harbourfront\n        M5A      Harbourfront\n

In [18]:
df.drop('Neighbourhood\n',axis=1,inplace=True)

In [19]:
df.head()

            Borough PostalCode       Neighbourhood
0      Not assigned        M1A      Not assigned\n
1      Not assigned        M2A      Not assigned\n
2        North York        M3A         Parkwoods\n
3        North York        M4A  Victoria Village\n
4  Downtown Toronto        M5A      Harbourfront\n

In [20]:
'not assigned\n'.split('\n')[0]

'not assigned'

In [21]:
df['Neighbourhood'] = df['Neighbourhood'].apply(lambda x: x.split('\n')[0])

In [22]:
df.head()

            Borough PostalCode     Neighbourhood
0      Not assigned        M1A      Not assigned
1      Not assigned        M2A      Not assigned
2        North York        M3A         Parkwoods
3        North York        M4A  Victoria Village
4  Downtown Toronto        M5A      Harbourfront

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 3 columns):
Borough          289 non-null object
PostalCode       289 non-null object
Neighbourhood    289 non-null object
dtypes: object(3)
memory usage: 6.9+ KB

In [24]:
cdf = df[df['Borough']!='Not assigned']

In [25]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 2 to 287
Data columns (total 3 columns):
Borough          212 non-null object
PostalCode       212 non-null object
Neighbourhood    212 non-null object
dtypes: object(3)
memory usage: 6.6+ KB

In [26]:
cdf.head()

            Borough PostalCode     Neighbourhood
2        North York        M3A         Parkwoods
3        North York        M4A  Victoria Village
4  Downtown Toronto        M5A      Harbourfront
5  Downtown Toronto        M5A       Regent Park
6        North York        M6A  Lawrence Heights

In [27]:
cdf.reset_index(inplace = True)

In [28]:
cdf.drop('index',1,inplace=True)

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [29]:
cdf

,Borough,PostalCode,Neighbourhood
0,North York,M3A,Parkwoods
1,North York,M4A,Victoria Village
2,Downtown Toronto,M5A,Harbourfront
3,Downtown Toronto,M5A,Regent Park
4,North York,M6A,Lawrence Heights
5,North York,M6A,Lawrence Manor
6,Queen's Park,M7A,Not assigned
7,Etobicoke,M9A,Islington Avenue
8,Scarborough,M1B,Rouge
9,Scarborough,M1B,Malvern
10,North York,M3B,Don Mills North
11,East York,M4B,Woodbine Gardens
12,East York,M4B,Parkview Hill
13,Downtown Toronto,M5B,Ryerson
14,Downtown Toronto,M5B,Garden District
15,North York,M6B,Glencairn
16,Etobicoke,M9B,Cloverdale
17,Etobicoke,M9B,Islington
18,Etobicoke,M9B,Martin Grove
19,Etobicoke,M9B,Princess Gardens
20,Etobicoke,M9B,West Deane Park
21,Scarborough,M1C,Highland Creek
22,Scarborough,M1C,Rouge Hill
23,Scarborough,M1C,Port Union
24,North York,M3C,Flemingdon Park
25,North York,M3C,Don Mills South
26,East York,M4C,Woodbine Heights
27,Downtown Toronto,M5C,St. James Town
28,York,M6C,Humewood-Cedarvale
29,Etobicoke,M9C,Bloordale Gardens
...,...,...,...
182,Scarborough,M1W,L'Amoreaux West
183,Scarborough,M1W,Steeles West
184,Downtown Toronto,M4W,Rosedale
185,Downtown Toronto,M5W,Stn A PO Boxes 25 The Esplanade
186,Etobicoke,M8W,Alderwood
187,Etobicoke,M8W,Long Branch
188,Etobicoke,M9W,Northwest
189,Scarborough,M1X,Upper Rouge
190,Downtown Toronto,M4X,Cabbagetown
191,Downtown Toronto,M4X,St. James Town
192,Downtown Toronto,M5X,First Canadian Place
193,Downtown Toronto,M5X,Underground city
194,Etobicoke,M8X,The Kingsway
195,Etobicoke,M8X,Montgomery Road
196,Etobicoke,M8X,Old Mill North
197,Downtown Toronto,M4Y,Church and Wellesley
198,East Toronto,M7Y,Business reply mail Processing Centre969 Eastern
199,Etobicoke,M8Y,Humber Bay
200,Etobicoke,M8Y,King's Mill Park
201,Etobicoke,M8Y,Kingsway Park South East
202,Etobicoke,M8Y,Mimico NE
203,Etobicoke,M8Y,Old Mill South
204,Etobicoke,M8Y,The Queensway East
205,Etobicoke,M8Y,Royal York South East
206,Etobicoke,M8Y,Sunnylea
207,Etobicoke,M8Z,Kingsway Park South West
208,Etobicoke,M8Z,Mimico NW
209,Etobicoke,M8Z,The Queensway West
210,Etobicoke,M8Z,Royal York South West
211,Etobicoke,M8Z,South of Bloor

In [30]:
cdf[cdf['Neighbourhood']=='Not assigned']

        Borough PostalCode Neighbourhood
6  Queen's Park        M7A  Not assigned

In [31]:
cdf.head(10)

            Borough PostalCode     Neighbourhood
0        North York        M3A         Parkwoods
1        North York        M4A  Victoria Village
2  Downtown Toronto        M5A      Harbourfront
3  Downtown Toronto        M5A       Regent Park
4        North York        M6A  Lawrence Heights
5        North York        M6A    Lawrence Manor
6      Queen's Park        M7A      Not assigned
7         Etobicoke        M9A  Islington Avenue
8       Scarborough        M1B             Rouge
9       Scarborough        M1B           Malvern

In [32]:
cdf.at[6,'Neighbourhood'] = "Queen's Park"

In [33]:
cdf.head(10)

            Borough PostalCode     Neighbourhood
0        North York        M3A         Parkwoods
1        North York        M4A  Victoria Village
2  Downtown Toronto        M5A      Harbourfront
3  Downtown Toronto        M5A       Regent Park
4        North York        M6A  Lawrence Heights
5        North York        M6A    Lawrence Manor
6      Queen's Park        M7A      Queen's Park
7         Etobicoke        M9A  Islington Avenue
8       Scarborough        M1B             Rouge
9       Scarborough        M1B           Malvern

In [34]:
cdf.at[9,'Neighbourhood']='Malvern'

In [35]:
cdf.head(10)

            Borough PostalCode     Neighbourhood
0        North York        M3A         Parkwoods
1        North York        M4A  Victoria Village
2  Downtown Toronto        M5A      Harbourfront
3  Downtown Toronto        M5A       Regent Park
4        North York        M6A  Lawrence Heights
5        North York        M6A    Lawrence Manor
6      Queen's Park        M7A      Queen's Park
7         Etobicoke        M9A  Islington Avenue
8       Scarborough        M1B             Rouge
9       Scarborough        M1B           Malvern

In [54]:
cdf['Neighbourhood']=cdf['Neighbourhood'].apply(lambda x: x+',')

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [55]:
cdf.head()

            Borough PostalCode      Neighbourhood
0        North York        M3A         Parkwoods,
1        North York        M4A  Victoria Village,
2  Downtown Toronto        M5A      Harbourfront,
3  Downtown Toronto        M5A       Regent Park,
4        North York        M6A  Lawrence Heights,

In [69]:
ccdf = cdf.groupby(['PostalCode','Borough'],as_index=False,sort=False,).sum()

In [88]:
ccdf.head(10)

  PostalCode           Borough                     Neighbourhood
0        M3A        North York                        Parkwoods,
1        M4A        North York                 Victoria Village,
2        M5A  Downtown Toronto         Harbourfront,Regent Park,
3        M6A        North York  Lawrence Heights,Lawrence Manor,
4        M7A      Queen's Park                     Queen's Park,
5        M9A         Etobicoke                 Islington Avenue,
6        M1B       Scarborough                    Rouge,Malvern,
7        M3B        North York                  Don Mills North,
8        M4B         East York   Woodbine Gardens,Parkview Hill,
9        M5B  Downtown Toronto          Ryerson,Garden District,

In [89]:
ccdf['Neighbourhood']=ccdf['Neighbourhood'].apply(lambda x: x[:-1])

In [90]:
ccdf.head()

  PostalCode           Borough                    Neighbourhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park